<div class="container-fluid">
    <img src={{ imgUrl }} class="img-thumbnail">
    <h3>{{ name }}</h3>
    <p>{{ desc}}</p>
    <button class="btn btn-success">{{ price }} <span class="glyphicon glyphicon-shopping-cart"></span></button>
</div>