{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>{{ product.name }}</h1>
        <p>{{ product.desc }}
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ex assumenda et placeat ipsam officiis minima quas. Beatae distinctio dolore facilis ipsam libero, molestias quia animi, natus quas ipsa totam?
        </p>
        <button class="btn btn-primary">Comprar {{  product.price }}</button>
    </div>
    <div class="col-4">
        <img src="/assets/img/burger.jpg" class="img-thumbnail">
    </div>

</div>



{{> footer }}